.settings-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    .nav-link{
        margin-top: 3em;
        text-decoration: none;
        color: $secondary-color;
        font-size: 2em;
        font-weight: 800;
        &:hover{
            cursor: pointer;
            color: $primary-color;
        }
    }
}