$bg-color: rgb(229, 229, 229);
$bg-img-home: url('../../images/background-home.png');
$img-logo: url('../../images/Component\ 1.svg');
$bg-img-prof: url('../../images/background-profile1.jfif');
$default-image: url('../../images/logo-busking\ radar22\ 3.png');
$primary-color: #FFFF;
$secondary-color: rgba(164, 74, 63, 0.87);
$error-color: rgb(196, 13, 13);
//animation mixins

@mixin easeOutIn {
    transition: all 0.7s ease-in-out;
}
