.prof-edit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 1em;
    width: 100%;
    align-items: center;
    height: 100vh;
   .prof-edit{
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       width: 80%;
       .prof-pic{
        border-radius: 50%;
        width: 8em;
        height: 8em;
        position: relative;
        margin-top: 1em;
        z-index: 3;
       }
       .file-input-container{
        margin-left: 4em;
        color: $secondary-color;
        label{
            margin-left: 2.5em;
        }
    }
    p{
        background-color: $primary-color;
        text-align: center;
        border-radius: 1em;
    }
   
    input{
        margin: 0.4em 0;
    }
   }
   .btn-sm{
    background-color: $secondary-color;
    border-radius: 0.2em;
    padding: 0.2em;
    display: inline;
}
.btn-back{
    border: none;
    background-color: $bg-color;
    margin-top: -1em;
    right: 1.1em;
}
.icon-color{
    color: $secondary-color;
}

    .btn-container{
        margin-top: 1em;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .btn-lg{
            color: $primary-color;
            width: 30%;
            }
    }
}