.events-map{
                width: 100%;
                height: 80vh;
                margin: 0;
                padding: 0;
                
                .map-container{
                    width: 100%;
                    height: 100%;
                    position: fixed; 
    
                    .marker{
                        width:0; 
                        height:0;
                        span {
                            display:flex;
                            justify-content:center;
                            align-items:center;
                            box-sizing:border-box;
                            width: 30px;
                            height: 30px;
                            color:#fff;
                            background: #693;
                            border:solid 2px;
                            border-radius: 0 70% 70%;
                            box-shadow:0 0 2px #000;
                            cursor: pointer;
                            transform-origin:0 0;
                            transform: rotateZ(-135deg);
                          }
                          b {
                              transform: rotateZ(135deg)
                            }
                    }
                    .newMarker{
                        span{
                            display:flex;
                            justify-content:center;
                            align-items:center;
                            box-sizing:border-box;
                            width: 30px;
                            height: 30px;
                            color:#fff;
                            background:rgb(194, 20, 20);
                            border:solid 2px;
                            border-radius: 0 70% 70%;
                            box-shadow:0 0 2px #000;
                            cursor: pointer;
                            transform-origin:0 0;
                            transform: rotateZ(-135deg);
                        }
                    }
                }
            }