.event-cd{
    background: $primary-color;
    line-height: 1.3em;
    display: grid;
    width: 100%;
    height: 18em;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin: 1em 0;
    padding: 0.5em 0.2em;
    border-radius: 0px 20px 20px 0px;
    grid-template-rows: 20% 15% 35% 10% 20%;
    grid-template-columns: 40% 1fr 1fr;
    grid-template-areas: "name creator image"
                         "date time image"
                         "about about image"
                         "genre tags image"
                         "location location image";
    p, h3{
        margin-left: 0.4em;
    }
    .event-name{
        grid-area: name;
    }
    .event-creator{
        grid-area: creator;
    }
    .event-date{
        grid-area: date;
    }
    .event-time{
        grid-area: time;
    }
    .event-about{
        grid-area: about;
    }
    .event-tags{
        grid-area: tags;
    }
    .event-genre{
        grid-area: genre;
    }
    .event-location{
        grid-area: location;
    }
    .event-image{
        grid-area: image;
        background: $default-image;
        width: 8em;
        height: 8em;
        background-size: cover;
        background-position-y: 25%;
    }
}