
main{
    &#events{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        .events-top{
            height: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 100;
        }
        .events-ls{
            width: 100%;
            margin-top: 8em;
            height: auto;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            justify-content: center;
            overflow-y: hidden;
            position: absolute;
            top: 4vh;
            z-index: 100;
            background-color: rgba(250,250,250, 0.6);
        }
        .events-map{
            width: 100%;
            height: 80vh;
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
}