@import './eventspage';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    .cr-event-modal-container{
        background-color: white;
        width: 20em;
        height: 20em;
        position: relative;
        top: 20vh;
        left: 40vw;
    }
}